body{
    font-family:  'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
ul li{
    list-style: none;
    margin: 10px;
}
ul li a{
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: space-betweens;
    height: 40px;
}
li .follow-us-on{
    display: flex;
    gap: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 65px;
    padding: 5px;
    border-radius: 5px;
    background-color:rgb(229, 225, 220);
}
 
 
.gamer{
    margin-left: 100px;
}
 
.gamer-heading{
    display: flex;
}
.my-heading{
    margin-left: 10px;
    font-weight: bold;
}
.gamer-heading  img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 65px;
    
}
.first-section-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-section{
    margin-left: 250px;
}
.button{
    
    border: none;
    margin: 8px;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color:#F948B2;
    color: white;
    border-radius: 30px;
}
 
.my-button{
    border: none;
    margin: 8px;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color:#4EC5F7;
    color: white;
    border-radius: 45px;
}
.second-section-part{
    display: flex;
    justify-content: space-between;
}
.my-div{
    text-align: right;
    margin-top: 80px;
}
.super-section{
    display: flex;
    justify-content: space-between;
}
.fairy-img img{
    position: relative;
    top: -250px;
    right: 90px;
}
.hero-section{
    text-align: center;
    margin-left: 350px;
    margin-top: 150px;
}
.para-part{
    color: #534C64;
    font-weight: 300;
}

.group-third{
    color: #FFFFFF;
}
.third-group-party{
    
    color: #FFFFFF;
    background-color: #F948B2;
  
       
}
.career-part{
    display: flex;
    justify-content: space-between;

    margin-left: 140px;
    align-items: center;
    
    
}
.this-career{
    display: flex;
    justify-content: space-between;
}
.new-button{
    border: none;
    font-size: 35px;
    margin-bottom: 130px;
    margin-left: 150px;
    padding: 25px;
    font-size: large;
    font-weight: 800;
    background-color:#FFFFFF;
    color: #F948B2;
    border-radius: 35px;
}
.more-section{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
    justify-content: center;
}
.game-design{
    display: flex;
    gap: 5px;
}
.footer-gamer{
    display: flex;
    justify-content: center;
    
}
footer{
    margin-top: 30px;
    padding: 30px;
    background-color: black;
}
footer ul{
    color: #FFFFFF;
    display: flex;
    gap: 50px;
    justify-content: center;
}
footer ul li a{
    color: #FFFFFF;
}
.my-icon{
    display: flex;
    gap: 60px;
    justify-content: center;
}
.last-section{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.online-game{
    text-align: center;
}
.my-last-img img{
    opacity: 0.5;
}
@media screen and (max-width:556px) {
    .navbar{
        flex-direction: column;
    }
    
    
    .gamer-heading{
        flex-direction: column;
    }
    .first-section-part{
        flex-direction: column;
    }
    .second-section-part{
        flex-direction: column;
    }
    .super-section , .career-part , .this-career , .more-section , .game-design , .footer-gamer , .footer ul , .last-sections{
        flex-direction: column;
    }
    .follow-us-on img{
        width: 40px;
    }
    ul li{
        text-align: center;
    }
    li .follow-us-on{
        margin: 0px;
        position: sticky;
    }
    .third-group-party{
        text-align: center;
    }
    .footer-gamer , .gamer-heading{
        text-align: center;
    }
    
}